body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }


/* 页眉 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #F7F7F7;
}
.title{
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title div:nth-of-type(2) img{
    vertical-align: middle;
}
.title div:nth-of-type(2) p{
    display: inline;
    vertical-align: middle;
    color: #608FD0;
}
nav{
    width: 100%;
    background: #3353DA;
}
ul{
    width: 70%;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    zoom: 1;
}
ul::after{
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
li{
    float: left;
    text-align: center;
    width: 15%;
    border-left: 1px solid #2E74DF;
}
li:nth-last-of-type(1){
    border-right: 1px solid #2E74DF;
}
a{
    color: white;
}

/* 页脚 */
.author{
    width: 1000px;
    /* text-align: center; */
    border-top: 1px solid gray;
    margin: 35px auto;
    color: gray;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author div:nth-of-type(1){
    margin-top: 10px;
    margin-right: 30px;
}
.author div:nth-of-type(1) p:nth-of-type(1){
    padding-left: 195px;
}
.author div:nth-of-type(2){
    margin-top: 10px;
    margin-left: 5px;
}
.author div:nth-of-type(2) p:nth-of-type(1){
    padding-right: 40px;
}